body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d9d9d9;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    width: 70%;
}

nav .logo {
    height: 5rem;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #C8BFAE;
    text-decoration: none;
    font-size: 18px;
}

.hero img {
    width: 100%;
}

.hero-text h1{
    font-size: 1.6rem;
}

.hero-text p {
    font-size: 1.2rem;
}

.about {
    background-color: white;
    padding: 50px;
    text-align: center;
}

.services {
    text-align: center;
    padding: 50px 20px;
}

.services h1 {
    font-size: 1.6rem;
}

.service-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-item {
    margin: 15px;
    text-align: center;
}

.service-item img {
    width: 200px;
    height: auto;
}

.service-item h2 {
    font-size: 1.6rem;
}

.builds {
    background-color: white;
    text-align: center;
    padding: 50px 20px;
}

footer {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
}
