/* Global Colors */
:root {
  --black: #111111;
  --yellow: hsl(56, 75%, 50%);
  --red: #c9311d;
  --white: #FCEFEF;
  --grey: #141414;
}

h1 {
  width: 80%;
  margin: 8rem auto 4rem auto;
  font-size: 2.4rem;
  color: var(--white);
}

h2 {
  font-size: 2rem;
  color: var(--white);
}

h3 {
  font-size: 1.6rem;
    color: var(--yellow);
    /* text-shadow: 2px 2px 4px hsl(0, 0%, 5%); */
}

p,
a {
  font-size: 1.2rem;
  font-weight: lighter;
  color: var(--white);
}

footer {
  background-color: var(--grey);
  text-align: center;
  padding: 0.4rem 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 2000px;
  margin: 0 auto;
  background-color: var(--black);
  color: var(--white);
}

nav {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav img {
  height: 5rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  list-style: none;
}

nav ul li a {
  color: var(--white);
  text-decoration: none;
  font-weight: lighter;
  font-size: 1.2rem;
}

.hero-img {
  background: linear-gradient(180deg, #0000 78.46%, var(--black) 100%),
    linear-gradient(180deg, var(--black) 0%, #0000 31.63%),
    url("/source/images/starts_2023_d_crop.jpg");
  height: 100vh;
  background-size: cover;
  background-position: 70%;
  background-repeat: no-repeat;
  overflow: hidden;
}

#hero-overlay {
  position: absolute;
  width: max(400px, 40%);
  margin-left: 10%;
  bottom: 10%;
  padding: 0;
}

#hero-text {
  width: 100%;
  margin: 0;
  font-size: 3.6rem;
  text-shadow: var(--black) 0 0 0.5rem;
  color: var(--white);
}

section {
  width: 80%;
  margin: 0 auto 20vh auto;
  text-align: left;
}

.grid-conainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 2rem auto;
  gap: 2rem;
}

.grid-item {
  background-color: var(--grey);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 2rem 2rem;
}

.grid-item img {
  padding: 4rem 0;
  align-self: center;
  width: 100%;
  max-height: 2rem;
}

.grid-item-heading {
  width: 100%;
  margin-bottom: 0;
}

.img-overlay {
  position: relative;
  display: inline-block;

  margin: 0 auto;
  height: 85vh;
  width: 100%;
}

.img-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: 
  linear-gradient(
    0deg,
    rgba(11, 11, 11, 0.25) 75%,
    rgba(11, 11, 11, 0.95) 95%,
    var(--black) 98%),
  linear-gradient(
    0deg,
    var(--black) 2%,
    rgba(11, 11, 11, 0.15) 10%);

  pointer-events: none;
}

.img-overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.build {
  display: flex;
  flex-direction: row;
  margin: 2rem auto;
  background-color: var(--grey);
  border-radius: 0.5rem;
}

.build img {
  width: 100%;
  object-position: center;
  object-fit: cover;
  border-radius: 0.5rem;
}

.build div {
  margin: 2rem 4rem;
  min-width: 250px;
}

.build div ul,
.build div h3,
.build div p {
  width: 100%;
  margin-left: 0;
}

/* @ media for screens <=400px */
@media screen and (width <= 800px) {
  #service-img {
    display: flex;
    flex-direction: column;
  }

  /* hide first and last img */
  #service-img img:first-child,
  #service-img img:last-child {
    display: none;
  }

  .build {
    flex-direction: column;
  }
}
