/* Global Colors */
:root {
  --black: #111111;
  --yellow: #dfd220;
  --red: #c9311d;
  --white: #fcefef;
  --grey: #141414;
}

h1 {
  width: 80%;
  margin: 8rem auto 4rem auto;
  font-size: 2.4rem;
  color: var(--white);
}

h2 {
  font-size: 2rem;
  color: var(--white);
}

h3 {
  font-size: 1.6rem;
  color: var(--yellow);
}

p,
a {
  font-size: 1.2rem;
  font-weight: lighter;
  color: var(--white);
}

footer {
  background-color: var(--grey);
  text-align: center;
  padding: 0.4rem 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 2000px;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--black);
}

.navbar {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar img {
  height: 5rem;
}

#navbar-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  list-style: none;
}

#navbar-items li a {
  color: var(--white);
  text-decoration: none;
  font-weight: lighter;
  font-size: 1.2rem;
}

.menu-button {
  display: none;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

section {
  margin: 20vh 10%;
  text-align: left;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.grid-item {
  background-color: var(--grey);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 2rem 2rem;
}

.grid-item img {
  padding: 4rem 0;
  align-self: center;
  object-fit:contain;
  width: 100%;
  max-height: 2rem;
}

.grid-item-heading {
  width: 100%;
  margin-bottom: 0;
}

.flex-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--grey);
  border-radius: 0.5rem;
}

.flex-container img {
  width: 100%;
  object-position: center;
  object-fit: cover;
  border-radius: 0.5rem;
}

.flex-container div {
  margin: 2rem 2rem;
}


.flex-container div h3,
.flex-container div p {
  width: 100%;
  margin-left: 0;
}

.center-image {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

@media screen and (max-width: 800px) {
  h1 {
    margin-top: 30vh;
  }
  p,
  a {
    font-size: 1rem;
    font-weight: lighter;
    color: var(--white);
  }
  .menu-button {
    display: block;
  }
  #navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    display: block;
  }
  .navbar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #navbar-items {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    padding: 0;
  }
  .heading-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .flex-container {
    flex-direction: column;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 801px) {
  #navbar-items {
    display: flex;
  }
}
